<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otvio.rssexercicio2">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ConfigActivity" />
        <activity android:name=".ui.WebActivity"/>

        <provider
            android:name=".db.RssProvider"
            android:authorities="br.ufpe.cin.residencia.rss"
            android:enabled="true"
            android:exported="true"
            android:permission="br.ufpe.cin.if1001.rss.leitura;"/>
        <service android:name=".util.CarregaFeedService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".util.JobSchedulerDownload"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name=".util.UpdateFeedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.otvio.rssexercicio2.INSERTED_DATA"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>